<table class="table table-striped" *ngIf="retosResultado.length != 0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Logro</th>
            <th *ngIf="estadoSeleccionado?.toString() === 'EN_CURSO'"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reto of retosResultado">
            <td>{{ reto.nombre }}</td>

            <td>{{ reto?.logro?.nombre }}</td>


            <td *ngIf="estadoSeleccionado?.toString() === 'EN_CURSO'">
                <button class="btn btn-primary"
                    (click)="finalizarReto(reto); $event.stopPropagation()">Finalizar</button>
            </td>


        </tr>
    </tbody>

</table>

<div *ngIf="retosResultado.length === 0" class="alert alert-warning text-center" role="alert">
    No hay elementos disponibles para mostrar.
  </div>