<div class="container mt-4">
  <!-- Título principal -->
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">Notas de los alumnos por test</h1>
    </div>
    <div class="col-12 text-center mb-4">
      <button class="btn  d-flex align-items-center justify-content-center" (click)="openInfoDialog()" style="cursor: pointer;">
        <img src="assets/images/info-5.png" alt="Información" style="width: 30px; height: 30px; margin-right: 8px;">
        <span>Mostrar Información</span>
      </button>
    </div>
  </div>

  <div @fadeInStagger *ngFor="let estadisticaTest of testPorTest" class="mb-4">
    <div class="card border-primary">
      <div class="card-header bg-info text-white" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <!-- Nombre del Test -->
        <h2 class="test-title mb-0">{{ estadisticaTest.test.nombre }}</h2>
      </div>
      <div class="card-body">
        <!-- Encabezados de las columnas -->
        <div class="row mb-3">
          <div class="col-6">
            <strong class="column-header">Nombres de los alumnos</strong>
          </div>
          <div class="col-6 text-right">
            <strong class="column-header">Notas</strong>
          </div>
        </div>
        <div class="list-group">
          <div *ngFor="let estadistica of estadisticaTest.estadisticas" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">
              <!-- Nombre del Alumno más grande -->
              <h4 class="mb-1">{{ estadistica.alumno.usuario.nombre }}</h4>
            </div>
            <div class="text-right">
              <!-- Puntuaciones del Alumno -->
              <span *ngFor="let puntuacion of estadistica.puntuacion" class="badge bg-primary rounded-pill ml-1">{{ puntuacion }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
