
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4 text-primary border-bottom pb-2">{{crearEditar}} Artefacto</h1>
      </div>
      <form [formGroup]="artefactoForm" (ngSubmit)="metodoActualizarCrear()" class="mt-4">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del artefacto</label>
          <input  type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Introduce el nombre">
          <small class="text-danger" *ngIf="artefactoForm.get('nombre')?.touched && artefactoForm.get('nombre')?.errors">
            {{getValidacionNombre()}}
          </small>
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción del artefacto</label>
          <input  type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Introduce la descripción">
          <small class="text-danger" *ngIf="artefactoForm.get('descripcion')?.touched && artefactoForm.get('descripcion')?.errors">
            {{getValidacionDescripcion()}}
          </small>
        </div>
        <div class="mb-3">
          <label for="coste" class="form-label">Coste del artefacto</label>
          <input  type="number" class="form-control" id="coste" formControlName="costePuntos" placeholder="Introduce el coste">
          <small class="text-danger" *ngIf="artefactoForm.get('costePuntos')?.touched && artefactoForm.get('costePuntos')?.errors">
            {{getValidacionCoste()}}
          </small>
        </div>
        <div class="mb-3">
          <label for="temporal" class="form-label">Repetible</label>
          <input  type="checkbox" class="form-check-input" id="temporal" formControlName="repetible">
        </div>
        <!-- <div class="mb-3">
          <label for="temporal" class="form-label">Temporal</label>
          <input type="checkbox" class="form-check-input" id="temporal" formControlName="temporal">
        </div> -->
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input  type="radio" class="btn-check" name="temporal" id="btnradio1" autocomplete="off" [value]="true" formControlName="temporal">
          <label class="btn btn-outline-primary" for="btnradio1">Temporal</label>
        
          <input  type="radio" class="btn-check" name="temporal" id="btnradio2" autocomplete="off" [value]="false" formControlName="temporal">
          <label class="btn btn-outline-primary" for="btnradio2">No temporal</label>
        </div>

        
        <div class="mb-3">
          <label for="fechaInicio" class="form-label">Fecha Inicio</label>
          <input  type="date" class="form-control" id="fechaInicio" formControlName="fechaInicio" placeholder="Introduce la fecha de inicio">
        </div>
        <div class="mb-3">
          <label for="fechaFin" class="form-label">Fecha Fin</label>
          <input  type="date" class="form-control" id="fechaFin" formControlName="fechaFin" placeholder="Introduce la fecha de fin">
        </div>


        <button type="submit" class="btn btn-primary" *ngIf="esProfesor()">
          <span *ngIf="idArtefacto!==0">Actualizar Artefacto</span>
          <span *ngIf="idArtefacto==0">Crear Artefacto</span>
        </button>
        <button type="button" style="margin-left: 20px;" class="btn btn-secondary ml-10" [routerLink]="['/asignaturas',idAsignatura,'artefactos','listado']">Volver</button>
      </form>
    </div>
  </div>
</div>
