<div class="row">
  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/temas.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'temas','listado']" class="btn btn-primary">Ir a Temas</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/escalador.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'logros','listado']" class="btn btn-success">Ir a Logros</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/artefactos.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'artefactos','listado']" class="btn btn-warning">Ir a Artefactos</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/cuestionario.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'test','listado']" class="btn btn-danger">Ir a Test</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/retos.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'retos','listado']" class="btn btn-info">Ir a Retos</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4"
      style="height: 20rem; background-image: url('/assets/images/estadistica.jpg'); background-size: cover;">
      <div class="card-body text-center" >
        <a [routerLink]="['/asignaturas', id, 'estadisticas']" class="btn btn-secondary">Estadisticas</a>
      </div>
    </div>
  </div>
</div>