<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <div class="card shadow-lg">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4">Registrarse</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Nombre:</label>
              <input class="form-control" type="text" formControlName="nombre" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Email:</label>
              <input class="form-control" type="email" formControlName="email" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Nombre Usuario:</label>
              <input class="form-control" type="text" formControlName="nombreUsuario" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Contraseña:</label>
              <input class="form-control" type="password" formControlName="password" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Rol:</label>
              <select class="form-control" formControlName="rol" required>
                <option disabled value="" >Selecciona una opción</option>
                <option value="ROL_ADMIN">Profesor</option>
                <option value="ROL_USER">Alumno</option>
              </select>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
