<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h2>Reportes de Preguntas</h2>
    </div>
    <div class="card-body">
      <div *ngFor="let reporte of reportePreguntas" class="mb-4">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Pregunta: {{reporte.pregunta?.enunciado}}</h4>
            <p><strong>Alumno:</strong> {{reporte.alumno?.usuario?.nombre}}</p>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item" *ngFor="let respuesta of reporte.pregunta?.respuestas">
                {{respuesta.texto}}
              </li>
            </ul>
            <p><strong>Respuesta Correcta:</strong> {{getRespuestaCorrecta(reporte?.pregunta?.respuestas)}}</p>
            <p><strong>Estado:</strong> {{reporte.estado}}</p>
            <p><strong>Motivo:</strong> {{reporte.motivo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
