<div class="container" *ngIf="listaTiers">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">Lista de TierList</h1>
    </div>
    <div class="col-12 text-center mb-4">
      <button class="btn  d-flex align-items-center justify-content-center" (click)="openInfoDialog()"
        style="cursor: pointer;">
        <img src="assets/images/info-5.png" alt="Información" style="width: 30px; height: 30px; margin-right: 8px;">
        <span>Mostrar Información</span>
      </button>
    </div>
  </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let tier of listaTiers">
        <div class="card mb-3">
          <div class="card-body" (click)="navegar(tier.id)">
            <h5 class="card-title">{{ tier.nombre }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  