<form [formGroup]="preguntaForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="mb-3 row">
    <label for="textoPregunta" class="col-sm-2 col-form-label">Texto Pregunta:</label>
    <div class="col-sm-10">
      <input formControlName="enunciado" type="text" class="form-control" id="textoPregunta" />
      <small class="text-danger" *ngIf="preguntaForm.get('enunciado')?.touched && preguntaForm.get('enunciado')?.errors">
        {{getValidacionEnunciado()}}
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="numRespuestas" class="col-sm-2 col-form-label">Número de Respuestas:</label>
    <div class="col-sm-10">
      <input formControlName="numRespuestas" type="number" class="form-control" id="numRespuestas" (change)="crearRespuestas()" />
    </div>
  </div>
  <div formArrayName="respuestas">
    <div *ngFor="let respuesta of respuestas.controls; let i = index" class="mb-3 row">
      <label class="col-sm-2 col-form-label">Respuesta {{i + 1}}:</label>
      <div class="col-sm-10">
        <input [formControl]="toFormControl(respuesta)" class="form-control" placeholder="Respuesta {{i + 1}}" />
        <small class="text-danger" *ngIf="respuesta.touched && respuesta.errors">
          <!-- Aquí puedes personalizar tu mensaje de error o usar una función para obtenerlo -->
          {{ getValidacionRespuesta(i) }}
        </small>     
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="respuestaCorrecta" class="col-sm-2 col-form-label">Respuesta Correcta:</label>
    <div class="col-sm-10">
      <input formControlName="respuestaCorrecta" type="text" class="form-control" id="respuestaCorrecta" />
      <small class="text-danger" *ngIf="preguntaForm.get('respuestaCorrecta')?.touched && preguntaForm.get('respuestaCorrecta')?.errors">
        {{getValidacionRespuestaCorrecta()}}
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
