/* Para toda la página */
body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/fondo_lapices.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto hará que la imagen de fondo permanezca fija al hacer scroll */
  height: 100vh; /* Esto asegura que el cuerpo ocupe toda la altura de la vista */
}

/* O solo para un contenedor específico
.main-container {
  background-image: url('/assets/images/fondo_lapices.jpg');
  background-size: cover;
  background-position: center center;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}