<!-- <input [formControl]="codigo" placeholder="Introduce el código"> -->

<!-- <button (click)="acceder()">Acceder</button> -->

<div class="d-flex justify-content-center align-items-center" style="height: 5vh; margin-top: 2%;">
    <div class="input-group input-group-sm mb-3" style="width: 500px;">
      <input type="text" [formControl]="codigo" class="form-control" placeholder="Introduce el código">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="acceder()">Acceder</button>
      </div>
    </div>
  </div>
  